.Review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    > img {
        height: 250px;
    }
}

.Review .detail{
    width: 20vw;
    margin: 2em 0px;
    @media (max-width: 750px){
        width: 50vw;
    }
    > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center; 
    }
    
}